In [1]:
import pandas as pd
import numpy as np

In [2]:
# Example 5-1
data = [0.25, 0.30, 0.35, 0.40, 0.45, 0.50, 0.60, 0.70]
RelPermKrow = pd.DataFrame(data, columns = ['Sw'])
RelPermKrowPirson = RelPermKrow.copy()
RelPermKrowPirson

     Sw
0  0.25
1  0.30
2  0.35
3  0.40
4  0.45
5  0.50
6  0.60
7  0.70

In [4]:
Swc = 0.25 # Connate Water Saturation
RelPermKrow['Swx'] = round((RelPermKrow['Sw']-Swc)/(1-Swc),4) # Equation 5-2
RelPermKrow['Kro'] = round((1-RelPermKrow['Swx'])**3,3) # Equation 5-4 Drainage Oil-Water Relative Permeabilities
RelPermKrow['Krw'] = round(RelPermKrow['Swx']**3,4) # Equation 5-4
RelPermKrow

     Sw     Swx    Kro     Krw
0  0.25  0.0000  1.000  0.0000
1  0.30  0.0667  0.813  0.0003
2  0.35  0.1333  0.651  0.0024
3  0.40  0.2000  0.512  0.0080
4  0.45  0.2667  0.394  0.0190
5  0.50  0.3333  0.296  0.0370
6  0.60  0.4667  0.152  0.1017
7  0.70  0.6000  0.064  0.2160

In [5]:
data = [0.05, 0.10, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70]
RelPermKrgo = pd.DataFrame(data, columns = ['Sg'])
RelPermKrgo
RelPermKrgoCorey = RelPermKrgo.copy()

In [7]:
RelPermKrgo['So'] = 1 - RelPermKrgo['Sg'] - Swc # Equation 5-2
RelPermKrgo['Sox'] = round((RelPermKrgo['So'])/(1-Swc),3) # Equation 5-2
RelPermKrgo['Kro'] = round((RelPermKrgo['Sox'])**3,3) # Equation 5-7 Drainage Gas-Oil Relative Permeabilities
RelPermKrgo['Krg'] = round((1-RelPermKrgo['Sox'])**3,3) # Equation 5-7
RelPermKrgo

     Sg    So    Sox    Kro    Krg
0  0.05  0.70  0.933  0.812  0.000
1  0.10  0.65  0.867  0.652  0.002
2  0.20  0.55  0.733  0.394  0.019
3  0.30  0.45  0.600  0.216  0.064
4  0.40  0.35  0.467  0.102  0.151
5  0.50  0.25  0.333  0.037  0.297
6  0.60  0.15  0.200  0.008  0.512
7  0.70  0.05  0.067  0.000  0.812

In [8]:
# Example 5-2: Pirson's Correlation
RelPermKrowPirson['Swx'] = round((RelPermKrowPirson['Sw']-Swc)/(1-Swc),4) # Equation 5-2
RelPermKrowPirson['Krwp'] = round(np.sqrt(RelPermKrowPirson['Swx']) * RelPermKrowPirson['Sw'] ** 3, 3)
RelPermKrowPirson['Kro'] = round((1-RelPermKrowPirson['Swx'])*(1-RelPermKrowPirson['Swx']**0.25*np.sqrt(RelPermKrowPirson['Sw']))**0.5,3)
RelPermKrowPirson

     Sw     Swx   Krwp    Kro
0  0.25  0.0000  0.000  1.000
1  0.30  0.0667  0.007  0.793
2  0.35  0.1333  0.016  0.695
3  0.40  0.2000  0.029  0.608
4  0.45  0.2667  0.047  0.528
5  0.50  0.3333  0.072  0.454
6  0.60  0.4667  0.148  0.320
7  0.70  0.6000  0.266  0.205

In [11]:
# Example 5-3: Corey's Method
RelPermKrgoCorey['Sgx'] = round((RelPermKrgoCorey['Sg'])/(1-Swc),3) # Equation 5-2
RelPermKrgoCorey['Kro'] = round(RelPermKrgoCorey['Sgx']**4,3) # Equation 5-7 Drainage Gas-Oil Relative Permeabilities
RelPermKrgoCorey['Krg'] = round(RelPermKrgoCorey['Sgx']**3*(2-RelPermKrgoCorey['Sgx']),3) # Equation 5-7
RelPermKrgoCorey

     Sg    Sgx    Kro    Krg
0  0.05  0.067  0.000  0.001
1  0.10  0.133  0.000  0.004
2  0.20  0.267  0.005  0.033
3  0.30  0.400  0.026  0.102
4  0.40  0.533  0.081  0.222
5  0.50  0.667  0.198  0.396
6  0.60  0.800  0.410  0.614
7  0.70  0.933  0.758  0.867